# Ignore all directories named __pycache__ in any location within the repository.
**/__pycache__

# Ignore Python bytecode files directly under the repository's root directory.
__pycache__/

# Ignore the .venv folder
.venv

# Ignore the .vscode folder
.vscode

# Ignore the .env file
.env

# Ignore the .log and .json files
*.log
*.json